@font-face {
	font-family: 'PermanentMarkerRegular';
	src: url('fonts/PermanentMarker-webfont.eot');
	src: url('fonts/PermanentMarker-webfont.eot?#iefix') format('embedded-opentype'),
		 url('fonts/PermanentMarker-webfont.woff') format('woff'),
		 url('fonts/PermanentMarker-webfont.ttf') format('truetype'),
		 url('fonts/PermanentMarker-webfont.svg#PermanentMarkerRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
body{line-height:1;}
ol,ul{list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* End CSS Reset */


/* jacob's styles */
body {
	font-size:16px;
	font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	background-color:#000;
}

footer, header {
	padding:1em;
}

footer {
	text-align:center;
}

#content {
	background:url(images/gray-line-bg.jpg);
	background-color:#fff;
	padding:3em 0;
}

.kitten-first, .kitten-last {
	font-size:2em;
}

.kittenright-symbol {
	color:#fff;
}

.kittenright, .kitten-first {
	color:#ddd;
}

.kitten-date, .kitten-last {
	color:#aaa;
}

#kitten-display {
	display:inline-block;
	vertical-align:middle;
	width:550px;
	margin-left:3em;
}

#beautiful-kitten li {
	background:#fff;
}

#beautiful-kitten li, #beautiful-kitten li span {
	display:inline-block;
	width:175px;
	height:175px;
}

#meows {
	display:inline-block;
	vertical-align:middle;
	width:300px;
	padding:1em 2em;
	margin-left:1.5em;
	color:#fff;
	background:#000;
	opacity:.8;
	-moz-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.6);
	-webkit-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.6);
	box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.6);
}

#meows p {
	letter-spacing:.05em;
	line-height:1.5em;
}

#meows h1 {
	letter-spacing:.1em;
	margin:0 -.5em .5em -.5em;
	font-size:2em;
	text-shadow:1px 1px 1px rgba(0, 0, 0, 0.4);
	font-family: "PermanentMarkerRegular", sans-serif;
	text-align:center;
}

/* different backgrounds */
.kitten-picture {
	opacity:.3;
}

.kitten-picture.kitten-face {
	opacity:.4;
}

.kitten-picture.kitten-face:hover, .kitten-picture:hover {
	opacity:1 !important; /* used to override the javascript that is happening which applies an inline opacity */
}

.img1 {
	background:url(images/jacob1.jpg) no-repeat 0 0;
}

.img2 {
	background:url(images/jacob2.jpg) no-repeat 0 0;
}

.img3 {
	background:url(images/jacob3.jpg) no-repeat 0 0;
}

.img4 {
	background:url(images/jacob4.jpg) no-repeat 0 0;
}

.img5 {
	background:url(images/jacob5.jpg) no-repeat 0 0;
}

.img6 {
	background:url(images/jacob6.jpg) no-repeat 0 0;
}

.img7 {
	background:url(images/jacob7.jpg) no-repeat 0 0;
}

.img8 {
	background:url(images/jacob8.jpg) no-repeat 0 0;
}







